body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #4CAF50; /* Green background */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black;
}

.slideshow-container {
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    padding: 16px;
    margin-top: -20px;
    cursor: pointer;
}

.next {
    right: 0;
}

.footer {
    background-color: #008000;
    color: #fff;
    padding: 20px;
    text-align: center;
}